<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Guichet-pont a peage</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <link rel="stylesheet" href="../Style/style.css">
</head>

<body>
    <div class="container">
        <aside>
        <div class="top">
            <div class="logo">
                <img src="../images/pngwing.com.png">
                <h2>S <span class="danger">M</span></h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </div>

        <div class="sidebar">

            <a href="../index.html">
                <span class="material-icons-sharp">dashboard</span>
                <h3>Dashboard</h3>
            </a>

            <a href="guichet.html" class="active">
                <span class="material-icons-sharp">account_balance_wallet</span>
                <h3>Guichet</h3>
            </a>


            <a href="admin.html">
                <span class="material-icons-sharp">supervisor_account</span>
                <h3>Admin</h3>
            </a>

            <a href="parametre.html">
                <span class="material-icons-sharp">settings</span>
                <h3>Paramètres</h3>
            </a>
            <br><br><br><br><br><br>
            <a href="#">
                <span class="material-icons-sharp">logout</span>
                <h3>Logout</h3>
            </a>

        </div>
    </aside>

        <main>
            <h1>Guichets</h1>

            <div class="passages-recents">
                <h2>Guichets</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Guichet</th>
                            <th>Localisation</th>
                            <th>Statut</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>A1</td>
                            <td>Entrée Nord</td>
                            <td class="sucess">Actif</td>
                        </tr>
                        <tr>
                            <td>A2</td>
                            <td>Entrée Sud</td>
                            <td class="sucess">Actif</td>
                        </tr>
                        <tr>
                            <td>A3</td>
                            <td>Voie rapide</td>
                            <td class="danger">Inactif</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h2>Modes de paiement</h2>

            <div class="insights">

                <div class="sale">
                    <span class="material-icons-sharp">phone_android</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Orange Money</h3>
                        </div>
                    </div>
                </div>

                <div class="income">
                    <span class="material-icons-sharp">wifi</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Wave</h3>
                        </div>
                    </div>
                </div>

                <div class="sale">
                    <span class="material-icons-sharp">account_balance_wallet</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Moov Money</h3>
                        </div>
                    </div>
                </div>

                <div class="income">
                    <span class="material-icons-sharp">smartphone</span>
                    <div class="middle">
                        <div class="left">
                            <h3>MTN Money</h3>
                        </div>
                    </div>
                </div>

                <div class="dysfunction">
                    <span class="material-icons-sharp">badge</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Badge</h3>
                        </div>
                    </div>
                </div>

                <div class="sale">
                    <span class="material-icons-sharp">payments</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Espèces</h3>
                        </div>
                    </div>
                </div>

            </div>

        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Bonjour, <b>Ivan</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profil-photo">
                        <img src="../images/Admin_Profil.jpeg">
                    </div>
                </div>
            </div>

                <!-- GUICHETS ACTIFS -->
            <div class="recent-updates">
                <h2>État des Guichets</h2>

                <div class="updates">

                    <div >
                        <div>
                            <p><b>A1 :</b> Actif ✅</p>
                            <small class="text-muted">Entrée Nord</small>
                        </div>
                    </div>

                    <div>
                        <div>
                            <p><b>A2 :</b> Actif ✅</p>
                            <small class="text-muted">Entrée Sud</small>
                        </div>
                    </div>

                </div>
            </div>

            <!-- MAINTENANCE -->
            <div class="sales-analytics">
                <h2>Maintenance</h2>
                    <div class="item offline">
                        <div class="icon">
                            <span class="material-icons-sharp">build</span>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>A3</h3>
                                <small class="text-muted">En maintenance</small>
                            </div>
                            <h5 class="danger">OFF</h5>
                            </div>
                        </div>

                    <div class="item offline">
                        <div class="icon">
                            <span class="material-icons-sharp">build</span>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>A3</h3>
                                <small class="text-muted">En maintenance</small>
                            </div>
                            <h5 class="danger">OFF</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>